!!! 5
%html
  %head
    %link{:href => "https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css", :rel => "stylesheet"}
    %meta{:name=> "viewport", :content=>"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    %title= current_page.data.title

    = stylesheet_link_tag :all

  %body
    = partial 'layouts/nav'
    .container.md-page
      = yield
